body {
    z-index: 1;
    background: url("/res/background.jpg") no-repeat center center fixed;
    background-size: cover;
}


/*!
    OSX Dock
*/

#footer {
    z-index: 2;
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
}

#footer img {
    float: left;
    height: 50px;
    width: 50px;
    color: #ffffff;
}

.windows_logo {
    float: left;
    height: 50px;
    width: 50px;
    background-image: url("/res/windows_logo.svg");
    background-size: 35%;
    background-position: center;
    background-repeat: no-repeat;
}